<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Dog List</title>
</head>
<body>
  <h1><%= intro %></h1>

  <ul>
    <% dogBreeds.forEach(breed => { %>
    <li> <%= breed.name %> - <%= breed.group==="working group" ? 'earns his kibbles and bits' : 'needs a job' %> </li>
    <% }) %>
 
   </ul>
</body>
</html>